.containerLawyer {
    width: 100%;
    /* padding-top: 10vh; */
    /* padding: 10vh 30vh; */
}

.lawyers-list img{
    /* aspect-ratio: 5/3; */
    height: 199px;
    width: 100%;
    object-fit: cover;
}

.divider-vertical{
    display: flex;
    width: 1pt;
    height: 15px;
    background-color: gray;
}

.expertise{
    background-color: rgba(21, 57, 105, 0.15);
    color: rgba(21, 57, 105, 1);
    font-size: 10pt;
}


.filter-form{
    height: fit-content;
    width: 35%;
}

/* .search-form{
    top: 100px;
} */

.filter-form{
    top: 155px;
    margin-top: 12px;
}

.lawyers-list .card{
    margin-top: 12px;
    text-decoration: none;
    height: 200px;
}

.lawyers-list{
    width: 100%;
}

.search-wrapper{
    background-color: white;
    padding: 20px 0 20px 0;
    top: 70px;
}

form{
    background-color: white;
}
